<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        {% assign currentUrl = page.url %}        
        <a  {% if "/" == currentUrl %}
            class="page-link active"
            {% else %}
              class="page-link"
            {% endif %}
            href="{{ site.baseurl }}/">home</a>
        
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}
          {% if page.title and page.displayHeaderLink %}
            <a  {% if page.url == currentUrl %}
                class="page-link active"
                {% else %}
                  class="page-link"
                {% endif %}
              href="{{ page.url | prepend: site.baseurl }}" >{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
