.cv-title{
    margin-bottom: 20px;
    text-align: center;
}

.cv-description{
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
}

.cv-content{
    text-align: justify;
}

.cv {
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin-bottom: 15px;
    }
}
